extends layout

block content
    h1= title

    p #[strong Title: ] #{game.title}
    p #[strong Publisher: ] 
        a(href=game.publisher.url) #{game.publisher.name}
    p #[strong Genre: ]&nbsp;
        each val, index in game.genre
            a(href=val.url) #{val.name}
            if index < game.genre.length - 1
             |, 
    p #[strong Released: ] #{game.date_formatted}
    p #[strong Stock: ] #{game.stock}
    p #[strong Price: ] $#{game.price}

    br
    p Are you sure you want to delete this game?

    form(method='POST' action='')
        div.form-group
            input#gameid.form-control(type='hidden', name='gameid' required=true, value=game._id)

        button.btn.btn-primary(type='submit') Delete