extends layout

block content
    h1= title

    form(method='POST' action='')
        div.form-group
            label(for='title') Title:
            input#title.form-control(type='text' placehoder='Name of Game' name='title' required='true' value=(undefined === game ? '' : game.title) )
        div.form-group
            label(for='publisher') Publisher:
            select#publisher.form-control(type='select' placeholder='Select Publisher' name='publisher' required='true')
                for publisher in publishers
                    if game
                        option(
                            value=publisher._id
                            selected=(
                                publisher._id.toString() == game.publisher._id
                                || publisher._id.toString() == game.publisher
                            ) ? 'selected' : false
                        ) #{publisher.name}
                    else
                        option(value=publisher._id) #{publisher.name}
        div.form-group
            label Genre:
            div
                for genre in genres
                    div(style='display: inline; padding-right:10px;')
                        input.checkbox-input(type='checkbox', name='genre', id=genre._id, value=genre._id checked=genre.checked )
                        label(for=genre._id) #{genre.name}
        div.form-group
            label(for='released') Released:
            input#release_date.form-control(type='date' name='released' placehoder='mm/dd/yyyy' value=(undefined === game ? '' : game.date_formatted))
        div.form-group
            label(for='stock') Stock:
            input#stock.form-control(type='number' placeholder='Number of stock' name='stock' value=(undefined === game ? '' : game.stock))
        div.form-group
            label(for='price') Price:
            input#price.form-control(type='number' placeholder='Price' name='price' value=(undefined === game ? '' : game.price))
        button.btn.btn-primary(type='submit') Submit

    if errors
        ul
            for error in errors
                li!= error.msg